@import "../../../base/utils";

.dailyActivityChartComponent {
  @extend .dashboardItem;
  background-color: $backgroundLight;
  padding: 1rem 0.5rem 2rem 1.8rem;
  grid-area: graph1;

  .recharts-surface:hover {
    cursor: pointer;
  }

  .barChartLegend {
    color: $grey;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .recharts-default-legend {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;

    @include largeScreen {
      column-gap: 2rem;
    }
  }

  .recharts-legend-item {
    .recharts-surface {
      margin-right: 15px !important;
    }
  }

  .recharts-cartesian-axis-tick-value {
    fill: $greyLight;
  }

  .recharts-cartesian-axis-line {
    stroke: $greyLight;
  }

  .chartTitle {
    font-weight: 500;
    font-size: 0.8rem;
    @include largeScreen {
      font-size: 1rem;
    }
  }

  .recharts-tooltip-cursor {
    fill: rgba(204, 204, 204, 0.5);
  }

  .customTooltip {
    background-color: $colorPrimaryDark;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 0.8rem 0.4rem;

    .tooltipText {
      color: white;
      font-size: 0.6rem;
      font-weight: 500;
      margin: 0;
    }
  }
}
