@import "../../../base/utils";

.dailyActivityChartComponent {
  @extend .dashboardItem;
  padding: 1rem 1.8rem 2rem;
  width: 100%;

  .barChartLegend {
    color: $grey;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .recharts-default-legend {
    display: flex;
    justify-content: flex-end;

    @include largeScreen {
      column-gap: 2rem;
    }
  }

  .recharts-cartesian-axis-tick-value {
    fill: $greyLight;
  }

  .recharts-cartesian-axis-line {
    stroke: $greyLight;
  }

  .chartTitle {
    font-weight: 500;
  }

  .recharts-tooltip-cursor {
    fill: rgba(204, 204, 204, 0.5);
  }

  .customTooltip {
    background-color: $colorPrimaryDark;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    padding: 0.8rem 0.4rem;

    .tooltipText {
      color: white;
      font-size: 0.6rem;
      // font-size: 0.5rem;
      font-weight: 500;
      margin: 0;
    }
  }
}
