@import "../../../base/utils";

.activityKindChartComponent {
  @extend .dashboardItem;
  background-color: $backgroundDark;

  > div {
    margin: auto;
  }

  .recharts-polar-grid-angle {
    display: none;
  }
  .recharts-polar-grid-concentric-polygon {
    stroke: #fff;
  }

  .recharts-polar-angle-axis-tick-value {
    fill: #fff;
    text-transform: capitalize;
    font-size: 0.6rem;
    transform: translate(0, 1%);
    font-weight: 500;
    
    @include largeScreen {
      font-size: 0.8rem;
      transform: scale(1.05) translate(-2%, -1%);
    }
  }

}
