@import "../../../base/utils";

.averageSessionsChartComponent {
  @extend .dashboardItem;
  // padding: 1rem 0;
  padding: 1rem 1.8rem;
  width: 33%;
  background-color: $colorPrimary;

  .recharts-surface:hover {
    cursor: pointer;
  }

  .recharts-cartesian-axis-tick-value {
    fill: rgba(255, 255, 255, 0.6);
  }

  .chartTitle {
    font-weight: 500;
    font-size: 1rem;

    fill: rgba(255, 255, 255, 0.6);
  }

  .customTooltip {
    background-color: white;
    padding: 0.5rem 0.4rem;

    .tooltipText {
      font-size: 0.7rem;
      font-weight: 700;
      margin: 0;
    }
  }

  .dot {
    margin: 1rem;
    background-color: blue;
  }
}
