@import "../../../base/utils";

.averageSessionsChartComponent {
  @extend .dashboardItem;
  padding: 1rem 0;
  background-color: $colorPrimary;

  .recharts-surface:hover {
    cursor: pointer;
  }

  .recharts-cartesian-axis-tick-value {
    fill: rgba(255, 255, 255, 0.6);
    font-size: .8rem;
  }

  .chartTitle {
    font-weight: 500;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    margin: 1rem 2rem;
    width: 150px;
    
    @include largeScreen {
      font-size: 1rem;
    }
  }

  .customTooltip {
    background-color: white;
    padding: 0.5rem 0.4rem;

    .tooltipText {
      font-size: 0.7rem;
      font-weight: 700;
      margin: 0;
    }
  }

  .recharts-tooltip-cursor {
    display: none;
  }

}
