@import "../../base/utils";

.infoCard {
  @extend .dashboardItem;
  background-color: $backgroundLight;
  padding: 1rem;
  display: grid;
  column-gap: 1rem;
  justify-content: flex-start;
  grid-template-areas:
    "icon count"
    "icon label";

  @include largeScreen {
    column-gap: 1.5rem;
    padding: 2rem;
  }

  img {
    padding: 1.1rem;
    border-radius: 5px;
    grid-area: icon;
    transform: scale(0.8);

    @include largeScreen {
      padding: 1.3rem;
      transform: scale(1);
    }
  }

  h2 {
    margin: 0;
    // font-size: 1rem;
    font-size: 1rem;

    @include largeScreen {
      font-size: 1.25rem;
    }
  }

  p {
    margin: 0;
    font-weight: 500;
    color: $grey;
    font-size: 0.7rem;

    @include largeScreen {
      font-size: 0.875rem;
    }
  }

  .calorie {
    background-color: lighten(#ff0000, 45%);
  }
  .carbohydrate {
    background-color: lighten(#fdcc0c, 40%);
  }
  .lipid {
    background-color: lighten(#fd5181, 30%);
  }
  .protein {
    background-color: lighten(#4ab8ff, 30%);
  }
}
