@import "../../base/utils";

.dashboardPage {
  // display: flex;
  margin: 1rem auto;
  // margin: 1rem 8rem;
  width: calc(90% - #{$headerWidth});
  // width: calc(80% - #{$headerWidth});
  max-width: 1440px;
  // max-width: 1126px;
  
  .contrastText {
    color: $colorPrimary;
  }

  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 1rem auto;
  }

  p {
    font-size: 1.125rem;
  }

  .dashboardData {
    display: grid;
    column-gap: 1rem;
    // height: fit-content;
    height: 60vh;
    grid-template-columns: auto 230px;
    margin-top: 1rem;
    
    @include largeScreen {
      column-gap: 3rem;
      margin-top: 4rem;
      grid-template-columns: auto 250px;
    }

    .dashboardDataGraphs {
      display: flex;
      flex-wrap: wrap;
      row-gap: 2rem;
      justify-content: space-between;
    }

    .dashboardDataInfoCards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: fit-content;
    }
  }
}
