@import "../../base/utils";

.dashboardPage {
  margin: 1rem auto;
  width: calc(95% - #{$headerWidth});
  max-width: 1300px;
  max-height: calc(100% - #{$headerHeight} - 32px);

  @include largeScreen {
    width: calc(90% - #{$headerWidth});

  }

  .contrastText {
    color: $colorPrimary;
  }

  h1 {
    font-size: 3rem;
    font-weight: 500;
    margin: 1rem auto;
  }

  > p {
    font-size: 1.125rem;
  }

  .dashboardData {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: auto 170px;
    margin-top: 1rem;
    
    @include largeScreen {
      column-gap: 2rem;
      margin-top: 4rem;
      height: auto;
      grid-template-columns: auto 250px;
    }

    .dashboardDataGraphs {
      row-gap: 0.5rem;
      column-gap: 0.5rem;
      justify-content: space-between;
      align-content: space-between;

      display: grid;
      grid-template-areas:
        "graph1 graph1 graph1"
        "graph2 graph3 graph4";
      grid-template-rows: 30vh 25vh;
      grid-template-columns: 1fr 1fr 1fr;
      
      @include largeScreen {
        row-gap: 2rem;
        column-gap: 2rem;
        grid-template-rows: 30vh 25vh;
      }
    }

    .dashboardDataInfoCards {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: fit-content;

    }
  }

  .infoCard {
    @extend .dashboardItem;
    background-color: $backgroundLight;
    padding: 1rem;
    display: grid;
    column-gap: 1rem;
    justify-content: flex-start;
    grid-template-areas:
      "icon count"
      "icon label";
  
    @include largeScreen {
      column-gap: 1.5rem;
      padding: 2rem;
    }
  
    img {
      padding: 1.1rem;
      border-radius: 5px;
      grid-area: icon;
      transform: scale(0.8);
  
      @include largeScreen {
        padding: 1.3rem;
        transform: scale(1);
      }
    }
  
    h2 {
      margin: 0;
      font-size: 1rem;
      margin-top: 5px;
  
      @include largeScreen {
        font-size: 1.25rem;
        margin: 0;
      }
    }
  
    p {
      margin: 0;
      font-weight: 500;
      color: $grey;
      font-size: 0.7rem;
  
      @include largeScreen {
        font-size: 0.875rem;
      }
    }
  
    .calorie {
      background-color: lighten(#ff0000, 45%);
    }
    .carbohydrate {
      background-color: lighten(#fdcc0c, 40%);
    }
    .lipid {
      background-color: lighten(#fd5181, 30%);
    }
    .protein {
      background-color: lighten(#4ab8ff, 30%);
    }
  }
  
}
