@import "./base/base";
//components
@import "./components/navigation/navbar";
@import "./components/infoCard/infoCard";
@import "./components/dashboard/dashboard";
@import "./components/charts/dailyActivityChart/dailyActivityChart";
@import "./components/charts/averageSessionsChart/averageSessionsChart";
@import "./components/charts/activityKindChart/activityKindChart";
