$almostBlack: #020203;
$colorPrimary: #FF0101;
$colorPrimaryDark: #E60000;
// $colorDark: #74798C;
$backgroundDark: #282D30;
$backgroundLight: #FBFBFB;

$headerHeight: 90px;
$headerWidth: 120px;


.dashboardItem {
  background-color: $backgroundLight;
  border-radius: 10px;
}