$almostBlack: #020203;
$colorPrimary: #ff0101;
$colorPrimaryDark: #e60000;
$grey: #74798c;
$greyLight: #9b9eac;
$backgroundDark: #282d30;
$backgroundLight: #fbfbfb;

$headerHeight: 90px;
$headerWidth: 120px;

@mixin largeScreen {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

.dashboardItem {
  border-radius: 8px;
}
