$almostBlack: #020203;
$colorPrimary: #FF0101;
$colorPrimaryDark: #E60000;
$grey: #74798C;
$greyLight: #9B9EAC;
$backgroundDark: #282D30;
$backgroundLight: #FBFBFB;

$headerHeight: 90px;
$headerWidth: 120px;


@mixin largeScreen {
  @media screen and (min-width: 1440px) {@content}
};



.dashboardItem {
  background-color: $backgroundLight;
  border-radius: 10px;
}